---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import { getAllPosts, sortMDByDate, getUniqueTagsWithCount } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
const allTags = getUniqueTagsWithCount(allPosts);

const projects: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Fibbonacci Swap",
		desc: "Decentralized P2P powered by Chainlink and fintech APIs",
		href: "https://fibbonacci-swap.vercel.app/",
	},
	{
		title: "Web3lingo",
		desc: "A edu-platform to allow developers learn web3 development and security",
		href: "https://web3lingo.com/",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<article>
		<content>
			<p class="mb-4">
				I’m a self-taught software engineer, maker and digital nomad based in LATAM. I’m currently
				focused on experimenting with different ideas around fintech and smart contracts, Solidity,
				EVM, UI, and everything in between.
			</p>
			<p class="mb-4">
				I’m the co-founder of <a class="cactus-link" href="https://zeneca.app/" target="_blank"
					>Zeneca</a
				> a platform that allows freelancers to receive and widthdraw payments fast. Previously, I
				was a software engineer for <a
					class="cactus-link"
					href="https://fondeadora.com/"
					target="_blank">Fondeadora</a
				> a Mexican neobank and a few early stage YC fintech startups.
			</p>
			<p class="faint small muted no-wrap text-right">
				<a class="internal-link" href="/about">Read&nbsp;more&nbsp;→</a>
			</p>
		</content>
	</article>
	<section class="bt mb-6 mt-16 pb-12 pt-8">
		<h2 class="title mb-4 text-xl">Selected projects</h2>
		<content>
			<ul class="space-y-4 sm:space-y-2">
				{
					projects.map(({ href, title, desc }) => (
						<li>
							<a
								href={href}
								target="_blank"
								rel="noopener noreferrer"
								class="cactus-link inline-block"
							>
								{title}
							</a>
							<p class="inline-block sm:mt-2">{desc}</p>
						</li>
					))
				}
			</ul>
		</content>
	</section>
	<section class="bt bb mb-6 mt-8 pb-12 pt-8">
		<h2 class="title my-4 text-xl">
			<a href="/topics" class="muted internal-link font-ui">Topics</a>
		</h2>
		<div class="flex flex-wrap leading-6">
			{
				allTags.map(([tag, val], index, array) => (
					<>
						<a class="tag cactus-link" href={`/topics/${tag}/`}>
							{tag}
						</a>
						{index !== array.length - 1 && <span class="muted">,&nbsp;</span>}
					</>
				))
			}
		</div>
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">
			<a href="/writings" class="muted font-ui">Writings</a>
		</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
